{{#org-modal}}
<section class="modal-window">
  <div class="container">
    <div class="modal-window__custome-popup">
      <a class="button" href="#popup1">Click Me</a>
    </div>
    <div id="popup1" class="modal-window__my-overlay">
      <div class="modal-window__my-overlay__popup">
        <h2>This is a Title</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maxime, nobis doloremque facilis eum
            debitis, in totam laborum expedita voluptas fugit. Accusamus assumenda recusandae nobis amet quis aperiam
            reprehenderit explicabo?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-modal}}